CREATE OR ALTER PROCEDURE [dbo].[spHomePage_Get]
(
    @CustomerID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Featured
    SELECT 
        p.ProductID,
        p.ProductName,
        p.ImageURL,
        p.Price
    FROM tblFeaturedProductS fp
    JOIN tblProduct p ON fp.ProductID = p.ProductID
    WHERE fp.CustomerID = @CustomerID
    ORDER BY fp.DisplayOrder;

    -- Flash Sale
    SELECT 
        p.ProductID,
        p.ProductName,
        p.ImageURL,
        fsp.SalePrice,
        fs.SaleEndTime
    FROM tblFlashSales fs
    JOIN tblFlashSaleProductS fsp ON fs.FlashSaleId = fsp.FlashSaleId
    JOIN tblProduct p ON fsp.ProductID = p.ProductID
    WHERE fs.CustomerID = @CustomerID
      AND fs.IsActive = 1
      AND GETDATE() < fs.SaleEndTime;

    -- Brands
    SELECT 
        BrandName,
        DisplayOrder
    FROM tblBrands
    WHERE CustomerID = @CustomerID
    ORDER BY DisplayOrder;
END