ALTER PROC [dbo].[spOTP_Verify]
    @UserID BIGINT = 0,
    @Email VARCHAR(100),
    @OTP NVARCHAR(100)
AS
BEGIN

    DECLARE @ErrMsg VARCHAR(5000)
    DECLARE @DbOTP NVARCHAR(100)
    DECLARE @ExpiresOn DATETIME
    DECLARE @Attempts INT
    DECLARE @IsVerified BIT

    -- Resolve UserID if not provided
    IF @UserID = 0
    BEGIN
        IF (@Email IS NULL OR LTRIM(RTRIM(@Email)) = '')
        BEGIN
            SELECT @ErrMsg = 'Email is required when UserID is not provided'
            GOTO ErrHandler
        END

        SELECT TOP 1 @UserID = u.UserID
        FROM tblUser u
        WHERE u.Email = @Email

        IF @UserID IS NULL
        BEGIN
            SELECT @ErrMsg = 'Invalid Email. User not found'
            GOTO ErrHandler
        END
    END

    -- Validate User
    IF NOT EXISTS(
        SELECT 1
        FROM tblUser u
        WHERE u.UserID = @UserID
    )
    BEGIN
        SELECT @ErrMsg = 'Invalid User'
        GOTO ErrHandler
    END;

    -- Check OTP record
    IF NOT EXISTS(
        SELECT 1
        FROM tblUserVerification uv
        WHERE uv.UserID = @UserID
    )
    BEGIN
        SELECT @ErrMsg = 'OTP not found'
        GOTO ErrHandler
    END;

    -- Fetch OTP data
    SELECT 
        @DbOTP = uv.OTP,
        @ExpiresOn = uv.ExpiresOn,
        @Attempts = uv.Attempts,
        @IsVerified = uv.IsVerified
    FROM tblUserVerification uv
    WHERE uv.UserID = @UserID;

    -- Validations
    IF @IsVerified = 1
    BEGIN
        SELECT @ErrMsg = 'OTP already used'
        GOTO ErrHandler
    END;

    IF SYSDATETIME() > @ExpiresOn
    BEGIN
        SELECT @ErrMsg = 'OTP expired'
        GOTO ErrHandler
    END;

    IF @Attempts >= 3
    BEGIN
        SELECT @ErrMsg = 'Too many attempts. Please request a new OTP'
        GOTO ErrHandler
    END;

    -- Validate OTP
    IF @DbOTP <> @OTP
    BEGIN
        UPDATE tblUserVerification
        SET Attempts = Attempts + 1
        WHERE UserID = @UserID;

        SELECT @ErrMsg = 'Invalid OTP'
        GOTO ErrHandler
    END;

    -- Success
    UPDATE tblUserVerification
    SET IsVerified = 1
    WHERE UserID = @UserID;

    RETURN

END

ERRHANDLER:
BEGIN
    RAISERROR(@ErrMsg, 16, 1)
    RETURN
END